h1 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.3999996185303px;
}
h3 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
}
p {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
}


.plae-chef-window{
      height: 1024px;
      width: 1280px;
      position: relative;

        /* IE10 Consumer Preview */
        background-image: -ms-radial-gradient(left center, circle farthest-corner, #FFFFFF 0%, #C7C7C7 100%);

        /* Mozilla Firefox */
        background-image: -moz-radial-gradient(left center, circle farthest-corner, #FFFFFF 0%, #C7C7C7 100%);

        /* Opera */
        background-image: -o-radial-gradient(left center, circle farthest-corner, #FFFFFF 0%, #C7C7C7 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(radial, left center, 0, left center, 963, color-stop(0, #FFFFFF), color-stop(1, #C7C7C7));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-radial-gradient(left center, circle farthest-corner, #FFFFFF 0%, #C7C7C7 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: radial-gradient(circle farthest-corner at left center, #FFFFFF 0%, #C7C7C7 100%);
    }

    body.ng-scope {
        height: 1024px;
    }

    .shop-menu {
        height: 910px;
        width: 230px;
        position: absolute;
        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* Opera */
        background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #4EAC50));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to top, #FFFFFF 0%, #4EAC50 100%);
    }

    .logo {
        position: absolute;
    }
    .logo img{
        width: 170px;
        margin: 30px;
    }

    #plae-basket {
        height: auto;
        margin-top: 400px;
        z-index: 100;
    }

.plae.basket.shoe {
    margin: 30px;
}

#plae-basket h3 {
  /*  margin-left: 30px; */
    font-weight: bold;
}
#tabs-h3{
    margin-left: 30px;
}

.plae.basket.list.item{
    list-style: none;
}
ul.plae.basket.list {
    margin-left: -10px;
}


    canvas {
    /*  border: 3px solid #D3D3D3; */
      z-index: 30;
        position: absolute;
      /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    /*  -webkit-border-radius: 12px;
      /* Firefox 1-3.6
      -moz-border-radius: 12px;

      /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+
      border-radius: 12px;*/
      opacity: 1;
      display: inline-block;
    /*  width: 727px;
      height: 512px; */
      margin-bottom: 10px;
      margin-left: 240px;
        top: 400px;
      /* box shadow */
      /*  border-radius: 5px;
        box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; */
    }

    #white-bg{
        width:1024px;
        height: 512px;
        z-index: 0;
        position: absolute;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        /*  -webkit-border-radius: 12px;
          /* Firefox 1-3.6
          -moz-border-radius: 12px;

          /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+
          border-radius: 12px;*/
        opacity: 1;
        display: inline-block;
        /*  width: 727px;
          height: 512px; */
        margin-bottom: 10px;
        margin-left: 240px;
        top: 400px;
        background: #ffffff;
    }

    #tabs{
        margin-left: 140px !important;
        width: 1024px !important;
    }
    .style{
        display: inline;
    }

    .styles-list {
        width: 2000px;
        height: 600px;
        display: inline;
        padding-left: 5px;
            list-style-type: none;
        margin: 5px;
        overflow-x: scroll;

    }

    div#tabs_container{
        height: 200px;
        width: 1024px;
        margin-left: 100px;
        position: relative;
        overflow: hidden;

    }
    .tabs-menu {
        /*    left: 1200px;
          margin-top: -200px; */

        margin-bottom: 10px;
        margin-left: 100px;
        height: 80px;
        position: relative;
        width: 1024px;
        overflow: scroll;
        border: 0px solid #D3D3D3;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;

        /*    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px); */
     /*   margin-right: 5px;
        border-radius: 5px; */
    /*    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
    }
    .tab-list{
      width: 15%;
      /*margin-left: -25%; */
      height: auto;
      display: inline-block;
    }
.tab-styles-list {
    width: 100%;
    height: 120px;
    display: inline;
    padding-left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: hidden;
    background: #ffffff;
    position: absolute;
    left: 0;
}
    #colors-emme {
        height: 100%;
        left: -1200px;
        position: relative;
    }
    #colors-ty {
    /*    left: 1200px;
        margin-top: -200px; */

        height: 140px;
        position: relative;
        width: 1050px;
        overflow: scroll;
        top: 40px;
        border: 0px solid #D3D3D3;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;

        /*    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px); */
        margin: 0 auto;
      /*  margin-right: 5px;
        border-radius: 5px; */
    /*       box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
        background: #ffffff;
        position: absolute;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;

    }
    #colors-roan {
        height: 100%;
        left: -1200px;
        position: relative;
        margin-top: -200px;
    }
    #colors-max {
        height: 100%;
        left: 1200px;
        position: relative;
        margin-top: -200px;
    }

    .draggable-tab-container {
        width: 767px;
        height: 200px;
        margin-left: -300px;
        margin-top: -500px;
    }

    .bottom{
        margin-top: 60px;
    }

    #togglemetabs {
        position: absolute;
        left: 65px;
        top: 220px;
        height: auto;
        width: 220px;
        border-radius: 5px;
   /*     box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }

    .tab-list img{
      width: 100%;
      /*margin-left: -25%; */
      height: auto;
    }

    .tab.small {
        width: 25px;
        height: 12px;
    }
    .tab img {
        width: 280px;
        height: auto;
    }
    .tab{
      z-index:10;
      position: relative;
        width: 160px;
        overflow: hidden;
        margin-left: 0;

    }
    .bin{
        display: block;
        position: absolute;
        padding: 4px;
        height: 60px;
        width: 200px;
        border: 1px solid #ddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
        box-shadow: 0 1px 3px rgba(0,0,0,0.055);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        z-index: 100;
    }

    #locationLT {
        top: 304px;
        left: 305px;
    }
    #locationLB {
        bottom: -44px;
        left: 305px;
    }
    #locationRT {
        top: 304px;
        right: -44px;
    }
    #locationRB {
        bottom: -44px;
        right: -44px;
    }

      #expand-controls {
        font-size: 1.2em;
      /*  margin: 20px 0; */
      }
/*
      .colorways{
        width: 767px;
          height: 200px;
        display: block;
        overflow: scroll;
        border: 2px solid #D3D3D3;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
          z-index: 23;
          border-radius: 5px;
          box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
      }

    */

      .colorways-list{
          width: 100%;
          height: 180px;
          display: inline;
          padding-left: 0px;
          margin-top: 0px;
          margin-left: 0px;
          list-style-type: none;
          white-space: nowrap;
          overflow-x: scroll;
          overflow-y: hidden;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          position: absolute;
          left: 0;
      }
      .colorway{
          height: 150px;
          margin-left: 0px;
          width: 30%;
          list-style-type: none;
          display: inline;
          padding: 10px;
      }

      .colorway img{
        margin-left: 0px;
          margin-top: 10px;
          width:21%;
          padding: 10px;
      }
      img#camille-img {
        height: 130px;
        width: auto;
      }

    section.styles-tab.ng-scope{
      margin-bottom: 20px;
        width: 1200px;
    }
    .style-nav {
      width: 300px;
      height: 100px;
      margin-top: 40px;
      margin-left: 0px;
     /*   border: 2px solid #D3D3D3; */
      z-index: 1;
        /* margin-top: 120px; */
    /*    -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; */
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      /*  -webkit-border-radius: 12px; */

        /* Firefox 1-3.6 */
      /*  -moz-border-radius: 12px; */

        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
      /*  border-radius: 12px; */
      list-style-type: none;
    }

    .styles-colorways{
      margin-left: 77px;
      z-index: 10;
    }


          .menu{
              height:100px;
                  float: left;
                  margin-left: 135px;
                  width: 48%;
              background: white;
                      border: 2px solid #D3D3D3;
                    -webkit-box-shadow: 0 10px 6px -6px #777;
                     -moz-box-shadow: 0 10px 6px -6px #777;
                     box-shadow: 0 10px 6px -6px #777;

              /*    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px); */
                 margin: 0 auto;
              margin-right: 5px;
                  border-radius: 5px;
               /*   box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
          }

    #tabs-menu-tab {
        margin-top: 0px;
        margin-left: 140px;
        }
    #shoe-menu-tab{
        margin-left: 140px;
    }
    .menu img {
      width: 100%;
      margin: 0;
      height: auto;
      margin-top: 15px;
    }

    #style-max img{
    /*  margin-top: 20px; */
    }
    #camille img{
    /*  margin-top: 0px;
        height: 100%;
        width: auto; */
    }

    li#camille {
      height: 100%;
      width: 30%;
    }

    /*
        .show-hide.ng-show {
          -webkit-transition:all linear 2s;
          transition:all linear 2s;
        }

        .show-hide.ng-hide {
          opacity:0;
        }

         .gridly {
            position: relative;
            width: 960px;
          }
          .brick.small {
            width: 140px;
            height: 140px;
          }
          .brick.large {
            width: 300px;
            height: 300px;
          }*/


    #right {
        position: relative;
        float: left;
        margin: 0 5px 0 0;
    /*    border: 1px solid black; */
        width: 100%;
        height: 1000px;
        overflow: hidden;
        z-index: 200;
        opacity: 1;
        background: #ffffff;
    }

    .box_rotate {
        -webkit-transform: rotate(30deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(30deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(30deg);  /* IE 9 */
        -o-transform: rotate(30deg);  /* Opera 10.50-12.00 */
        transform: rotate(30deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
    }
    .box_transition {
        -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
        -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
        -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
        transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    }

    #shoesizer_desc_content {
        position: absolute;
        bottom: 0px;
        left: 650px;
    }

    #startShoeSizerButton {
        width: 220px !important;

    }

    .view.buttons{

    }


    button.waves-effect.waves-button.waves-light.waves-float{
        top: 810px;
        left: 640px;
        z-index: 79;
    }

/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }
