h1 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26.3999996185303px;
}
h3 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
}
p {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
blockquote {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}
pre {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714302062988px;
}

md-button{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 14px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}


.plae-chef-window{
      height: 1024px;
      position: relative;
    }

    body.ng-scope {
        height: 1024px;
        margin: 0px;
    }

    .shop-menu {
        height: 100px;
        width: 200px;
        position: absolute;
        margin-left: 10px;
        margin-top: 0px;
        /* IE10 Consumer Preview */
        background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* Mozilla Firefox */
        background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* Opera */
        background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* Webkit (Safari/Chrome 10) */
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #4EAC50));

        /* Webkit (Chrome 11+) */
        background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #4EAC50 100%);

        /* W3C Markup, IE10 Release Preview */
        background-image: linear-gradient(to top, #4EAC50 0%, #4EAC50 100%);
        border-radius: 0 0 20px 0;
        -webkit-border-radius: 0 0 20px 0;
        -moz-border-radius: 0 0 20px 0;
        -o-border-radius: 0 0 20px 0;
        -ms-border-radius: 0 0 20px 0;

        border: 0 solid #D3D3D3;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }

    .logo {
        position: absolute;
    }
    .logo img{
        width: 150px;
        margin-top: 25px;
        margin-left: 25px;
    }

#plae-size {
    height: 472px;
    margin-top: 50px;
    padding-top: 20px;
    left: 208px;
    z-index: 0;
    width: 220px;
    position: absolute;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.size.select.shoe {
    margin-left: 15%;
}

.size.select.tabs {
    margin-left: 15%;
    margin-top: 90px;
}

select.size.select.tabs {
    margin-left: 0;
}

.size.selector h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
}

select {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;

}
.size.selector p {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: x-small;
}

md-checkbox#autoselect-button {
    float: left;
    font-size: small;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    margin-bottom: 0px;
}

md-checkbox#wide-fit-button {
    float: left;
    font-size: small;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    margin-top: 0px;
}


    #plae-basket {
        height: 480px;
        margin-top: 45px;
        left: 1044px;
        z-index: 0;
        width: 220px;
        position: absolute;
        border: 1px solid #D3D3D3;
        background-color: #f5f5f5;
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
        margin-left: 0;
    }

.plae.basket {
    margin: 10px;
    margin-left: -27px;
}

.plae.basket p{
    font-size: 85%;
}
.plae.basket.item{
    width: 85%;
}
.plae.basket.item.shoe {
    position: absolute;
    top: 50px;
}

.plae.basket.item.left {
    position: absolute;
    top: 80px;
}

.plae.basket.item.right{
    top: 110px;
    position: absolute;
}


span.price {
    font-weight: bold;
    float: right;
    margin-right: 5px;
}

span.color {
    font-size: 75%;
}

#subtotal {
    position: absolute;
    top: 150px;
    width: 85%;
    float: left;
    margin-left: -27px;
}

div#subtotal p {
    font-weight: bold;
    font-size: large;
    font-size: 100%;
}

hr {
    position: absolute;
    top: 150px;

    /* overwrite ui.boostrap css */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: -30px;
    border: 0;
    border-top: 1px solid #D3D3D3;

}


#plae-basket h3 {
  /*  margin-left: 30px; */
    font-weight: bold;
}
#tabs-h3{
    margin-left: 30px;
}

.plae.basket.list.item{
    list-style: none;
}
ul.plae.basket.list {
    margin-left: -10px;
}

#reset-button {
    float: right;
    top: 10px;
    position: absolute;
    font-size: 10px !important;
    right: 10px;
}

button#add-to-cart-button {
    top: 250px;
    float: left;
    margin-left: 10px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    font-size: 105% !important;
}

.md-dialog-container.ng-scope {
    height: 1024px;
    width: 1260px;
    z-index: 1000;
    top: 200px;
    left: 150px;
}

md-backdrop.md-opaque.md-default-theme{
    height: 1024px;
}

button.md-button.md-default-theme {
    text-transform: lowercase;
    float: right;
}

button#edit {
    margin: 5px;
    float: left;
    height: 30px;
}

#edit img {
    width: 20px;
    opacity: .5;
}

.delete img {
    width: 15px;
}

.delete {
    float: right !important;
    position: absolute !important;
    right: -20px;
    top: 10px;
}


    canvas {
    /*  border: 3px solid #D3D3D3; */
      z-index: 30;
        position: absolute;
      /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    /*  -webkit-border-radius: 12px;
      /* Firefox 1-3.6
      -moz-border-radius: 12px;

      /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+
      border-radius: 12px;*/
      opacity: 1;
      display: inline-block;
      margin-bottom: 10px;
      margin-left: 208px;
        top: 470px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        -ms-border-radius: 5px;

      /* box shadow */
    /*    border-radius: 5px;
        box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; */
    /*    -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; */
    }

    .canvas.tcanvas {
        z-index: 29;
    }

    canvas#plae-chef-canvas-tab-top {
        z-index: 31;
    }
    /*
    .canvas.container {
        width: 1014px;
        height: 512px;
    } */

    #white-bg{
        width:612px;
        height: 512px;
        z-index: 1;
        position: absolute;
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
          -webkit-border-radius: 12px;
          /* Firefox 1-3.6 */
          -moz-border-radius: 12px;

          /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
          border-radius: 10px;
        opacity: 1;
        display: inline-block;
        margin-bottom: 10px;
        margin-left: 208px;
        top: 468px;
        background: #ffffff;
/*        box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; */
        border: 2px solid #D3D3D3;
    }

    #tabs{
        margin-left: 140px !important;
        width: 1024px !important;
        padding-top: 100px;
    }
    .style{
        display: inline;
    }

    .styles-list {
        width: 2000px;
        height: 600px;
        display: inline;
        padding-left: 5px;
            list-style-type: none;
        margin: 5px;
        overflow-x: scroll;

    }

    #tabs_container{
        height: 200px;
        width: 1014px;
        margin-left: 90px;
        position: relative;
        overflow: hidden;

    }
    .tabs-menu {
        /*    left: 1200px;
          margin-top: -200px; */

        margin-bottom: 10px;
        margin-left: 90px;
        height: 80px;
        position: relative;
        width: 1014px;
        overflow: hidden;
        border: 0 solid #D3D3D3;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
        border: 2px solid #D3D3D3;

        /*    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px); */
     /*   margin-right: 5px;
        border-radius: 5px; */
    /*    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
    }
    .tabs-menu.left.effect6 {
        margin-top: -40px;
    }

    .tab-list{
      width: 15%;
      /*margin-left: -25%; */
      height: auto;
      display: inline-block;
    }
.tab-styles-list {
    width: 100%;
    height: 120px;
    display: inline;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    list-style-type: none;
    white-space: nowrap;
    overflow-x: scroll;
    background: #ffffff;
    position: absolute;
    left: 0;
}
    #colors-ty {
    /*    left: 1200px;
        margin-top: -200px; */

        height: 140px;
        width: 1014px;

        top: 10px;
     /*   -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; */

        /*    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px); */
        margin: 0 auto;
      /*  margin-right: 5px;*/
        border-radius: 8px;
    /*       box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
        background: #ffffff;
        position: absolute;
        left: 0;
        overflow-y: hidden;
        border: 2px solid #D3D3D3;

    }
    #colors-roan {
        height: 100%;
        left: -1200px;
        position: relative;
        margin-top: -200px;
    }
    #colors-max {
        height: 100%;
        left: 1200px;
        position: relative;
        margin-top: -200px;
    }

    .draggable-tab-container {
        width: 767px;
        height: 200px;
        margin-left: -300px;
        margin-top: -500px;
    }

    .bottom{
        margin-top: 60px;
    }

    #togglemetabs {
        position: absolute;
        left: 65px;
        top: 220px;
        height: auto;
        width: 220px;
        border-radius: 5px;
   /*     box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 22px 70px 4px rgba(0, 0, 0, 0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }

    .tab-list img{
      width: 100%;
      /*margin-left: -25%; */
      height: auto;
    }

    .tab.small {
        width: 25px;
        height: 12px;
    }
    .tab img {
        width: 280px;
        height: auto;
    }
    .tab{
      z-index:10;
      position: relative;
        width: 160px;
        overflow: hidden;
        margin-left: 0;

    }
    .bin{
        display: block;
        position: absolute;
        padding: 4px;
        height: 60px;
        width: 200px;
        border: 1px solid #ddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
        box-shadow: 0 1px 3px rgba(0,0,0,0.055);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        z-index: 100;
    }

    #locationLT {
        top: 304px;
        left: 305px;
    }
    #locationLB {
        bottom: -44px;
        left: 305px;
    }
    #locationRT {
        top: 304px;
        right: -44px;
    }
    #locationRB {
        bottom: -44px;
        right: -44px;
    }

      #expand-controls {
        font-size: 1.2em;
      /*  margin: 20px 0; */
      }
/*
      .colorways{
        width: 767px;
          height: 200px;
        display: block;
        overflow: scroll;
        border: 2px solid #D3D3D3;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
          z-index: 23;
          border-radius: 5px;
          box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
      }

    */

      .colorways-list{
          width: 100%;
          height: 160px;
          display: inline;
          padding-left: 0;
          margin-top: 0;
          margin-left: 0;
          list-style-type: none;
          white-space: nowrap;
          overflow-x: scroll;
          overflow-y: hidden;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          position: absolute;
          left: 0;
      }
      .colorway{
          height: 150px;
          margin-left: 0;
          width: 30%;
          list-style-type: none;
          display: inline;
          padding: 10px;
      }

      .colorway img{
        margin-left: 0;
          margin-top: 10px;
          width:21%;
          padding: 10px;
      }
      img#camille-img {
        height: 130px;
        width: auto;
      }

    section.styles-tab.ng-scope{
      margin-bottom: 20px;
        width: 1200px;
    }
    .style-nav {
      width: 300px;
      height: 100px;
      margin-top: 40px;
      margin-left: 0;
     /*   border: 2px solid #D3D3D3; */
      z-index: 1;
        /* margin-top: 120px; */
    /*    -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777; */
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      /*  -webkit-border-radius: 12px; */

        /* Firefox 1-3.6 */
      /*  -moz-border-radius: 12px; */

        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
      /*  border-radius: 12px; */
      list-style-type: none;
    }

    .styles-colorways{
      margin-left: 77px;
      z-index: 10;
    }


          .menu{
              height:100px;
                  float: left;
                  margin-left: 135px;
                  width: 48%;
              background: white;
                      border: 2px solid #D3D3D3;
                    -webkit-box-shadow: 0 10px 6px -6px #777;
                     -moz-box-shadow: 0 10px 6px -6px #777;
                     box-shadow: 0 10px 6px -6px #777;

              /*    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px); */
                 margin: 0 auto;
              margin-right: 5px;
                  border-radius: 5px;
               /*   box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3); */
          }

    #tabs-menu-tab {
        margin-top: 0;
        margin-left: 140px;
        }
    #shoe-menu-tab{
        margin-left: 140px;
    }
    .menu img {
      width: 100%;
      margin: 0;
      height: auto;
      margin-top: 15px;
    }

    #style-max img{
    /*  margin-top: 20px; */
    }
    #camille img{
    /*  margin-top: 0px;
        height: 100%;
        width: auto; */
    }

    li#camille {
      height: 100%;
      width: 30%;
    }

    /*
        .show-hide.ng-show {
          -webkit-transition:all linear 2s;
          transition:all linear 2s;
        }

        .show-hide.ng-hide {
          opacity:0;
        }

         .gridly {
            position: relative;
            width: 960px;
          }
          .brick.small {
            width: 140px;
            height: 140px;
          }
          .brick.large {
            width: 300px;
            height: 300px;
          }*/


    #right {
        position: relative;
        float: left;
        margin: 0 5px 0 0;
    /*    border: 1px solid black; */
        width: 100%;
        height: 1000px;
        overflow: hidden;
        z-index: 200;
        opacity: 1;
        background: #ffffff;
    }

    .box_rotate {
        -webkit-transform: rotate(30deg);  /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(30deg);  /* Firefox 3.5-15 */
        -ms-transform: rotate(30deg);  /* IE 9 */
        -o-transform: rotate(30deg);  /* Opera 10.50-12.00 */
        transform: rotate(30deg);  /* Firefox 16+, IE 10+, Opera 12.50+ */
    }
    .box_transition {
        -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
        -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
        -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
        transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    }

    #shoesizer_desc_content {
        position: absolute;
        bottom: 0;
        left: 50px;
    }

    #startShoeSizerButton {
        width: 220px !important;

    }

button#left-profile-button {
    position: absolute;
    top: 940px;
    left: 680px;
}

button#top-button {
    position: absolute;
    top: 940px;
    left: 720px;
}

button#right-profile-button {
    position: absolute;
    top: 940px;
    left: 760px;
}

.view-button{
    z-index:79;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 14px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}



/* when hiding the picture */
.ng-hide-add         { animation:.5s bounceOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:2s fadeIn ease;}


md-tabs.ng-isolate-scope.md-default-theme {
    margin-top: 560px;
}

.car {
    margin-left: 240px;
    width: 1000px;
    border: 2px solid #D3D3D3;
    height: 125px;
}
#shoe-car {
    margin-top: 20px;
}

.center {
    text-align: center;
}
.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100px;
    width: 200px;
    background-position: center center;
}


.bgimage.ng-scope.slick-slide.slick-active {
    height: 100px;
    width: 200px !important;
}

.slick-prev, .slick-next{
    color: rgba(0, 143, 255, 1) !important;
    background: rgba(0, 0, 0, 0.33) !important;
}
.slick-list.draggable{
    padding-left: 0px !important;
    padding-right: 0px !important;

}