<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="plaeChefApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Plae Chef app</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/plae-chef.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js" type="text/javascript"></script>

</head>
<body ng-controller="PlaeChefController as plaeChef">

      <div ng-view class="view-frame plae-chef-window">

          <section class="styles-tab" ng-controller="StylesTabController as stylestab">

              <div class="styles-menu-container" id="tabs">
                <ul class="styles-menu-list">
                      <li ng-repeat="s in shoeStyles" class="style" id="{{s.id}}" ng-class="{active: stylestab.isSet(style.name)}">
                          <a href="#{{s.id}}" ng-click="stylestab.setTab(s.name)"><img ng-src="{{s.menuIconUrl}}"></a>
                      </li>
                </ul>


                  <div class='colorways' id="tabs_container">

                      <div id="style-emme">
                          <ul class="colorways-list">
                              <li ng-repeat="shoe in shoeList | filter: {name:'emme'}" class="colorway" ng-show="stylestab.isSet('emme')">
                                  <a href ng-click="plaeChef.setShoe(shoe)"><img ng-src="{{ shoe.menuImgUrl }}"/></a>
                              </li>
                          </ul>
                      </div>
                      <div id="style-ty">
                          <ul class="colorways-list">
                              <li ng-repeat="shoe in shoeList | filter: {name:'ty'}" class="colorway" ng-show="stylestab.isSet('ty')">
                                  <a href ng-click="plaeChef.setShoe(shoe)"><img ng-src="{{ shoe.menuImgUrl }}"/></a>
                              </li>
                          </ul>
                      </div>
                      <div id="style-roan">
                          <ul class="colorways-list">
                              <li ng-repeat="shoe in shoeList | filter: {name:'roan'}" class="colorway" ng-show="stylestab.isSet('roan')">
                                  <a href ng-click="plaeChef.setShoe(shoe)"><img ng-src="{{ shoe.menuImgUrl }}"/></a>
                              </li>
                          </ul>
                      </div>
                      <div id="style-max">
                          <ul class="colorways-list">
                              <li ng-repeat="shoe in shoeList | filter: {name:'max'}" class="colorway" ng-show="stylestab.isSet('max')">
                                  <a href ng-click="plaeChef.setShoe(shoe)"><img ng-src="{{ shoe.menuImgUrl }}"/></a>
                              </li>
                          </ul>
                      </div>



                      <!--    <li ng-repeat="shoe in shoeList | filter: {name:'camille'}" class="colorway" ng-show="stylestab.isSet('camille')" >
                                <a href ng-click="plaeChef.makeBaseImage(shoe.mainImgUrl, 1)"><img ng-src="{{ shoe.menuImgUrl }}" id="camille-img"/></a>
                                </li> -->

                  </div> <!--End tabs container-->

              </div> <!--End tabs-->


                  <ul class="tab-styles-list">
                      <li class='tab-list' ng-repeat="tab in tabList" class='tabs-menu' id="{{tab.id}}">
                          <a href ng-click="plaeChef.addTab(tab, $event)"><img ng-src="{{ tab.menuImg }}"/></a>
                      </li>

                  </ul>
              <div class="draggable-tab-container">

                  <div class='tab large top' ng-repeat="tab in tabLT track by $index"><img ng-src="{{ tab.tabOneImg }}"/></div>
                  <div class='tab large bottom' ng-repeat="tab in tabLB track by $index"><img ng-src="{{ tab.tabTwoImg }}"/></div>
              </div>

              <canvas class='canvas' id='plae-chef-canvas'></canvas>
              <div class="white_top"></div>


<!--
                <div class="draggable-tab-container">

                        <div class='tab large top' ng-repeat="tab in tabs track by $index" data-drag="true" ng-model="tabTop" jqyoui-draggable="{index: {{$index}},animate:true}"><img ng-src="{{ tab.tabOneImg }}"/></div>
                        <div class='tab large bottom' ng-repeat="tab in tabs track by $index" data-drag="true" ng-model="tabBottom" jqyoui-draggable="{index: {{$index}},animate:true}"><img ng-src="{{ tab.tabTwoImg }}"/></div>
                </div>

              <canvas class='canvas' id='plae-chef-canvas'></canvas>
              <canvas class='tab-canvas' id='plae-chef-tabs-canvas'></canvas>
              <div class="bin" id="locationLT" data-drop="true" ng-model="tabLT" data-jqyoui-options jqyoui-droppable="{multiple:false, onDrop:'tabDropCallback'}">
                  <div class="btn btn-info btn-draggable" ng-repeat="item in tabLT track by $index" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tabLT" jqyoui-draggable="{index: {{$index}},animate:true}"><img ng-src="{{ tab.tabOneImg }}"/></div>

                  <div class="placeholder" ng-hide="hideMeLT()">Drag a tab here</div>
              </div>
              <div class="bin" id="locationLB" data-drop="true" ng-model="tabLB" data-jqyoui-options jqyoui-droppable="{multiple:false, onDrop:'plaeChef.tabDropCallback'}">
                  <div class="btn btn-info btn-draggable" ng-repeat="item in tabLB track by $index" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="tabLT" jqyoui-draggable="{index: {{$index}},animate:true}"><img ng-src="{{ tab.tabOneImg }}"/></div>

                  <div class="placeholder" ng-hide="hideMeLB()">Drag a tab here</div>
              </div>
              -->
         <!--     <div class="bin" id="locationRT" data-drop="true" ng-model="locationRT" data-jqyoui-options jqyoui-droppable="{multiple:false, onDrop:'plaeChef.tabDropCallback(shoe, $event, $id)'}"></div>
              <div class="bin" id="locationRB" data-drop="true" ng-model="locationRB" data-jqyoui-options jqyoui-droppable="{multiple:false, onDrop:'plaeChef.tabDropCallback(shoe, $event, $id)'}"></div>
            -->
          </section>

</div>

  <script>

  </script>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

<script type="text/javascript">"js/angularSlideables.js"</script>

  <!--<script src="bower_components/angular-route/angular-route.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
    <script src="app/bower_components/angular-dragdrop/src/angular-animate.js"></script> -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="components/angular-dragdrop/angular-dragdrop.min.js"></script>
<script src="js/plaeChefController.js"></script>
<script src="js/plaeChefProducts.js"></script>

</body>
</html>
