<div ng-switch="plaeChef.getSurveyForm()" class="slide-frame">
    <div class="survey survey-container" ng-switch-when="true">


        <md-content layout="column" flex="flex" md-theme="default" class="md-whiteframe-z1 survey-form" layout-align="center center">
            <h2 id="survey-h2">what do you think about tab lab?</h2>
            <form class="surveyForm plae-font" name="surveyForm" ng-submit="submitData(userSurvey, 'ajaxSubmitResult')" novalidate>

                <md-text-float class="md-default-theme question" label="Did your kid(s) play with Tab Lab? Yes or No?" ng-model="userSurvey.question_1" name="question_1">
                </md-text-float>

                <md-radio-group ng-model="userSurvey.question_1" id="question_1">
                    <md-radio-button class="survey-question" value="yes">yes</md-radio-button>
                    <md-radio-button class="survey-question" value="no"> no </md-radio-button>
                </md-radio-group>

                <md-text-float class="md-default-theme question"
                               label={{label_3}}
                               ng-model="userSurvey.question_2" name="question_3">
                </md-text-float>

                <md-radio-group ng-model="userSurvey.question_2" >
                    <md-radio-button class="survey-question" value="0">0</md-radio-button>
                    <md-radio-button class="survey-question" value="1">1</md-radio-button>
                    <md-radio-button class="survey-question" value="2">2</md-radio-button>
                    <md-radio-button class="survey-question" value="3">3</md-radio-button>
                    <md-radio-button class="survey-question" value="4">4</md-radio-button>
                    <md-radio-button class="survey-question" value="5">5</md-radio-button>
                    <md-radio-button class="survey-question" value="6">6</md-radio-button>
                    <md-radio-button class="survey-question" value="7">7</md-radio-button>
                    <md-radio-button class="survey-question" value="8">8</md-radio-button>
                    <md-radio-button class="survey-question" value="9">9</md-radio-button>
                    <md-radio-button class="survey-question" value="10">10</md-radio-button>
                </md-radio-group>

                <md-text-float class="md-default-theme question" label="How can we improve Tab Lab?" ng-model="userSurvey.question_3" name="question_3">
                </md-text-float>


                <md-text-float class="md-default-theme question" label="email (optional)" ng-model="userSurvey.email" type="email" name="email">
                </md-text-float>


                <md-button class="md-raised submit" id="submit-survey" type="submit"
                           ng-show="true" style="background: #4EAC50;color: #fff;">
                    submit
                </md-button>

            </form>
        </md-content>


    </div>

</div>