h1 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

h3 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 16px;
    color: #434343;
}

h4.product.name {
    left:15px;
}

.main-container.container {
    margin-top: 72px;
    overflow: visible;
}

.tablab-viewer {
    text-align: center;
}

.nav>li.main-tab>a, .nav>li.main-tab.active>a {
    border: none;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 16px;
    color: #434343;
}

.tab-content {
    position:relative;
}

.tab-content>.tab-pane {
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 5;
    top: 136px;
}

.col-sm-6 {
    width: 48%;
    margin: 0 1%;
}

.canvas-container h2 {
    position: absolute;
}

/* overrides to angular css that's altering the main page css */
body {
    color: #7c7c7c;
}

h6 {
    font-size: 16px !important;
    margin: 0 !important;
}
address {
    color: #7c7c7c;
}

header .signup .txt {
    margin-top: -8px;
}

.shipping-bar {
    padding-top: 4px;
}

header .signup p.txt, .shipping-bar p {
    line-height: normal;
}
/* end overrides */

p {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
.plae-font{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
}

.rainbow {
    color: #21aa50;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #26a9e0), color-stop(0.2, #37b34a), color-stop(0.4, #d91c5c), color-stop(0.6, #00a69c), color-stop(0.8, #f6921e),color-stop(1, #ec297b) );
    background-image: gradient( linear, left top, right top, color-stop(0, #26a9e0), color-stop(0.2, #37b34a), color-stop(0.4, #d91c5c), color-stop(0.6, #00a69c), color-stop(0.8, #f6921e),color-stop(1, #ec297b) );
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    font-weight: bold;
    letter-spacing: -2px;
}
.r {
    color: #26a9e0;
}
.a {
    color: #37b34a;
}
.n {
    color: #d91c5c;
}
.d {
    color: #00a69c;
}
.o {
    color: #f6921e;
}
.m {
    color: #ec297b;
    letter-spacing: 1px;
}
.r, .a, .n, .d, .o, .m {
    -webkit-text-fill-color: transparent;
}


blockquote {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18px;
}

md-button {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 14px !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

button.md-button.md-default-theme {
    text-transform: lowercase;
}

button.delete {
    display: none;
}

button.close-feedback {
    margin: 10px;
    border: none;
    background: transparent;
}

.md-button.md-default-theme.md-raised.cart-button {
    background-color: #21aa50;
    color: #fff;
}

.md-button.md-default-theme.md-raised.cart-button.addtocart {
    margin: 0 15% 0 auto;
}
.md-button:hover {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
}

.cart-button.md-button.md-default-theme.md-raised:not([disabled]):hover,.cart-button.md-button.md-default-theme.md-raised:not([disabled]):focus {
    background-color: #007c4c;
}

.md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-raised:not([disabled]):focus {
    background-color: #fff;
}

.md-switch-thumb.md-default-theme {
    float: left;
    font-size: small;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    margin-bottom: 0px;
}

md-checkbox {
    float: left;
    font-size: small;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    margin-top: 0px;
}

md-checkbox.md-default-theme.md-checked .md-icon {
    background-color: #21aa50;
}

html.customizer.ng-scope {
    overflow-x: hidden !important;
}

body.ng-scope {
    margin: 0;
}

/*  Header section   */
/*                   */

.shop-menu {
    z-index: 100;
    position: absolute !important;
    height: 70px;
    width: 130px;
    margin-left: 10px !important;
    margin-top: -76px !important;
    border-radius: 0 0 20px 0 !important;
    -webkit-border-radius: 0 0 20px 0 !important;
    -moz-border-radius: 0 0 20px 0 !important;
    -o-border-radius: 0 0 20px 0 !important;
    -ms-border-radius: 0 0 20px 0 !important;
    background-image: url(../assets/media/logo.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: #21aa50 !important;
    box-shadow: none !important;
    position: fixed !important;
}

span.md-flex.ng-scope {
    width: 100%;
}

select, .tab-lab-header {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    font-size: 100%;
}
.tab-lab-header {
    text-align: center;
    height: 80%;
    min-width: 60% !important;
    color: white !important;
    background-color: #21aa50 !important;
    margin-left: 40%;
    padding: 0 !important;
    float: left;
}
.tab-lab-header.mobile{
    padding: 10px !important;
    font-size: 150%;
}
.tab-lab-header.desktop{
    display: none;
}

.tab-lab-header-toolbar {
    background-color: #21aa50 !important;
    position: fixed;
    top: 0;
    height: 72px;
}

.version {
    color: white;
    font-size: 60%;

}

.icon-wrapper {
    height: 20px;
    overflow: hidden;
}
/*  Slider section   */
/*                   */

.car {
    z-index: 49;
    height: 100%;
}
.slick-container {
    margin-left: 2%;
    margin-right: 2%;
}
.horizontal-slick-container {
    height: 180px;
    border-top: 2px solid #D3D3D3;
}

#shoe-car {
    margin-top: 15px;
}

/*.bgimage {*/
    /*text-align: right;*/
    /*color: transparent;*/
    /*background-size: cover;*/
    /*height: 0;*/
    /*width: 100px;*/
    /*background-position: center center;*/
/*}*/

.menuImg {
    text-align: right;
    color: transparent;
    background-size: cover;
    height: 50px;
    width: 5%;
    background-position: center center;
}

img.slide.img {
    width: 100%;
}

.slick-button{
    color: rgba(255, 255, 255, 0.87) !important;
    background-color: rgb(155, 155, 155) !important;
    font-size: 60%;
    border-radius: 0 !important;
    display:none;
}
.slick-button.column{
    height: 33.3%;
}

button#top-prev-button {
    border-top-left-radius: 6px !important;
}

button#bottom-prev-button {
    border-bottom-left-radius: 6px !important;
}
button#top-next-button {
    border-top-right-radius: 6px !important;
}
button#bottom-next-button {
    border-bottom-right-radius: 6px !important;
}

.slick-prev:before, .slick-next:before {
    color: #898989 !important;
    opacity: 0.75 !important;
    font-size: 60px !important;
}

.arrows-button-column {
    width: 30px;
    position: absolute;
    height: 180px;
    z-index: 2;
}

.arrows-button-column.previous {
    left: 1%;
}
.arrows-button-column.next {
    float: right;
    top: 108px;
    right: 1%;
}

.slick-prev {
    left: -55px !important;
    top: 40px !important;
}

.slick-next {
    right: -50px !important;
    top: 40px !important;
}

.slick-slider {
    margin-bottom: 5px !important;
}

.slick-slide {
    opacity: 1;
}

/*.slick-slide img {*/
    /*min-height: 40px;*/
    /*min-width: 40px;*/
/*}*/

/*.slick-track {*/
    /*min-height: 40px;*/
/*}*/

.slick-center {
    opacity: 0.25;
}

.slick-left:before, .slick-right:before, .slick-shoe:before {
    display: block;
    position:absolute;
    width: 75px;
    height: 75px;
    top:50%;
    left: 50%;
    margin-left:-37.5px;
    margin-top:-37.5px;
    z-index: 100;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
}

.slick-left:before {
    content: url(/media/icons/left.png);
}

.slick-right:before {
    content: url(/media/icons/right.png);
}

.slick-shoe:before {
    content: url(/media/icons/check.png);
}

.slick-prev, .slick-next {
    width: 60px !important;
    height: 60px !important;
}

.md-whiteframe-z1 {
    box-shadow: 0 6px 5px -4px rgba(0, 0, 0, .26) !important;
}

/*  Canvas section   */
/*                   */

canvas {
    z-index: 1;
    opacity: 1;
    padding-left: 10px;
    margin-top: 10px;
}

#white-bg-mobile {
    z-index: 1;
    position: relative;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    display: inline-block;
    margin-bottom: 10px;
    background: #ffffff;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.0);
    width: 100%;
    border: none;
    box-shadow: none !important;
    height: auto;
    padding: 0;
    top: 44px;
}


/*  Size section     */
/*                   */



.plae.size {
    height: 180px;
    top: 595px;
    left: 2%;
    right: 2%;
    z-index: 0;
    width: 96%;
    position: absolute;
    border: 1px solid #D3D3D3;
    background-color: #F5F5F5;
    border-radius: 8px;
}

.rcart {
    z-index: 1;
    height: 432px;
    top: 300px;
    left: 400px;
    width: 240px;
    position: absolute;
    border: 1px solid #D3D3D3;
    background-color: #f5f5f5;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: 0;
    opacity: 1;
}

.survey {
    z-index: 101;
    width: 90%;
    height: 80%;
    top: 100px;
    left: 5%;
    right: 5%;
    position: absolute;
    -moz-border-radius: 12px;
    border: 2px #000000;
    opacity: 1;
}

#plae-size {
    z-index: 1;
}

/*
.select-size.plae.size {
    z-index: 1;
} */
.size.select {
    margin-left: 20px;
    margin-top: 12px !important;
}

#select-size-button-left {
    position: absolute !important;
    left: 0;
    top: 0;
}

#select-size-button-done {
    left: 40px;
    width: 120px;
}

#wide-fit-button-two {
    margin-left: 65px;
    position: absolute;
    top: 360px;
}

select.size.select.tabs {
    margin-left: 0;
}

.sizeShowMoreOptions {
    margin-left: 20px !important;
    margin-top: 20px !important;
    float: left;
    font-size: 80% !important;
}

.size.selector h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
}

.size.selector p {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: x-small;
}

select.size.selector.shoe.cart {
    font-size: 100% !important;
    margin-top: 5px;
}

select.size.selector.tabs.cart {
    font-size: 100% !important;
    margin-top: 5px;
}
md-checkbox#afo-fit-button {
    float: left;
    font-size: small;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
    margin-top: 0px;
}

/*  Cart section    */
/*                  */
#plae-basket, #feedback-form{
    border: 1px solid #D3D3D3;
    margin-top: 10px;
}
.plae.basket, .plae.feedback {
    height: 450px;
    /*left: 2%;
    right: 2%;
    top: 785px;*/
    z-index: 0;
    /*width: 96%;
    position: absolute;*/
    background-color: #f5f5f5;
 /*   border: 1px solid #D3D3D3; */
    border-radius: 8px;
    margin-bottom: 10px;
}
.plae.basket p, .plae.feedback p {
    font-size: 85%;
    position:absolute;
    left: -5px;
    bottom: 16px;
}

.plae.basket.item {
    width: 85%;
    z-index: 5;
    height: 1px;
}

.plae.basket.item.shoe {
    position: absolute;
    top: 40px;
}

.plae.basket.item.left {
    position: absolute;
    top: 150px;
}

.plae.basket.item.right {
    top: 260px;
    position: absolute;
}
.details {
    list-style-type: none;
    padding-left: 5px;
    margin-top: -15px;
}

button.attr {
    height: 100px;
    width: 110%;
    left: 2%;
    right: 2%;
    margin-top:10px;
}

.subtotal h3 {
    margin-left: 20px;
}

.attr {
    position: absolute;
    font-size: 85%;
}

.attr.name {
    width: 100%;
    /* float: left; */

}

.attr.price {
    font-weight: bold;
    float: right;
    margin-right: 5px;
    top: 10px;
    right: 2px;
    font-size: 100%;
    position: absolute;
}

.attr.color {
    float: left;
    left: 15px;
    top: 30px;
}

.attr.size {
    float: left;
    left: 15px;
    top: 50px;
}

.product.name {
    float: left;
    margin-top: 0;
    top: 10px;
    position: absolute;
}

.plae.basket.subtotal {
    position: absolute;
    top: 300px;
    width: 85%;
    float: left;
    height: 1px;
}

.price.subtotal {
    position: absolute;
    margin-top: 18px;
    margin-left: 15px;
    font-size: medium;
    font-weight: bold;
}
button.md-raised.attr.subtotal {
    margin-top: 10px;
}

hr {
    position: absolute;
    top: 10px;

    /* overwrite ui.boostrap styles */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px;
    border: 0;
    border-top: 1px solid #D3D3D3;

}

.plae.basket h3 {
    float: left;
    font-weight: bold;
}

.cart.title {
    width: 100%;
    text-align: center;
    font-weight: 500 !important;
}

#tabs-h3 {
    margin-left: 30px;
}

.plae.basket.list.item {
    list-style: none;
}

ul.plae.basket.list {
    margin-left: -10px;
}
#reset-button {
    float: right;
    top: 10px;
    position: absolute;
    font-size: 10px !important;
    right: 10px;
}
.canvas-button-row {
    position: static;
    top: inherit;
    width: 80%;
    margin: 10px auto;
}
.control-button {
    position: relative;
    z-index: 95;
    width: auto;
    padding: 2px !important;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    border-radius: 4px !important;
    margin-left: 2px;
    margin-right: 2px;
}
.shuffle {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.control-button.md-button.md-default-theme:not([disabled]):hover, .control-button.md-button.md-default-theme:not([disabled]):focus {
    background-color: transparent;
}

.cart-button {
    position: relative;
    border-radius: 4px !important;
    z-index: 35;
    width: 35%;
    margin-left: 2px;
    margin-right: 2px;
}

.slick-container {
    background: rgba(255,255,255,0.95);
}

button#survey-button {
    top: 1200px;
}

.cart-button-row {
    height: 40px;
    width: 100%;
    position: absolute;
    left: 3%;
    right: 3%;
    bottom: 4%;
}
button#feedback-button {
}

button.md-raised.fa.fa-chevron-circle-up {
    color: rgba(78, 172, 80, .8);
}
.md-dialog-container.ng-scope {
    height: 1024px;
    width: 1260px;
    z-index: 1000;
    top: 200px;
    left: 150px;
}

md-backdrop.md-opaque.md-default-theme {
    height: 1024px;
}

button#edit {
    top: 10px;
    float: left;
    height: 30px;
    width: 40px;
    left: 4%;
    font-size: 150%;
}

#edit img {
    width: 20px;
    opacity: .5;
}

.delete img {
    width: 15px;
}

.md-raised.attr {
    background-color: rgba(260, 260, 260, 1) !important;
    z-index: 51;
}

.delete {
    float: right !important;
    height: 76px;
    width: 36px;
    right: -8%;
    top: 20px;
    position: absolute !important;
}

/*  Survey      */
/*              */

.question label {
    color: rgba(0, 0, 0, 0.7) !important;
}

form.surveyForm {
    padding-left: 6%;
    top: -30px;
    position: relative;
    height: 100%;
}

md-input-group.md-default-theme input, md-input-group.md-default-theme textarea {
    color: rgba(78, 172, 80, 1) !important;
    font-size: larger;
}

#submit-survey {
    top: 40px;
    left: 30%;
    float: left;
    height: 40px;
    width: 160px;
    border-radius: 10px !important;
    font-size: 100% !important;
}

.survey-question {
    display: inline;
    margin: 2px;
}

.md-label {
    margin-left: -15px !important;
    margin-right: 10px;
}

.md-container {
    top: 25px !important;
}

.checkbox.label {
    font-size: 18px;
    margin-left: 18px;
    color: rgb(51, 51, 51);
}

.md-icon {
    margin-top: -20px !important;
}

.survey-form {
    height: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
}

#question_1 {
    height: 45px !important;
}

#survey-h2 {
    margin-top: 30px;
}

.surveyForm label {
    margin-top: 20px;
}

md-input-group.md-default-theme.question.ng-isolate-scope.ng-valid.ng-touched.md-input-has-value {
    top: 30px !important;
}

button.md-raised.fa.fa-chevron-circle-up.right.fa-3x{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #f5f5f5;
    border-radius: 50%;
    float: right;
    bottom: 2%;
    right: 2%;
    padding: 0;
    display: none;
}




/*              */
/*  ng-animate  */
/*              */
.wave.ng-enter,
.wave.ng-leave,
.wave-right.ng-enter,
.wave-right.ng-leave,
.wave-item-delete.ng-enter,
.wave-item-delete.ng-leave,
.size-animate,
.survey {
    -webkit-transition: 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -moz-transition: 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -ms-transition: 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    -o-transition: 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
    transition: 600ms cubic-bezier(0.455, 0.030, 0.515, 0.955) all;
}

.wave.ng-enter {
    position: absolute;
    left: 200px;
}

.wave.ng-enter.ng-enter-active {
    left: 35px;
}

.wave.ng-leave {
    position: absolute;
    left: 35px;
}

.wave.ng-leave.ng-leave-active {
    left: 200px;
}

.wave-right.ng-enter {
    position: absolute;
    top: 600px;
}

.wave-right.ng-enter.ng-enter-active {
    top: 900px;
}

.wave-right.ng-leave {
    position: absolute;
    top: 900px;
}

.wave-right.ng-leave.ng-leave-active {
    top: 600px;
}

.wave-item-delete.ng-enter {
    position: absolute;
    right: 10px;
    top: 0;
}

.wave-item-delete.ng-enter.ng-enter-active {
    position: absolute;
    right: -10px;
    top: 0;
}

.wave-item-delete.ng-leave {
    position: absolute;
    right: -10px;
    top: 0;
}

.wave-item-delete.ng-leave-active {
    position: absolute;
    right: 10px;
    top: 0;
}

.size-animate {
    width: 90% !important;
}

.survey.ng-enter {
    position: absolute;
    left: -1000px;
}

.survey.ng-enter.ng-enter-active {
    left: 480px;
}

.survey.ng-leave {
    position: absolute;
    left: 480px;
}

.survey.ng-leave.ng-leave-active {
    left: -1000px;
}

md-tabs.ng-isolate-scope.md-default-theme {
    margin-top: 560px;
}

.size.selector {
    z-index: 51;
    position: absolute;
    top: 55px;
    left: 60px;
}

.plae-chef-window ul.nav {
    background-image: url(/media/home/chalkboard.jpg);
    color: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    border: none;
    padding: 0 12px;
}

.plae-chef-window ul.nav.nav-tabs > li > a {
    background: transparent;
    color: #fff;
    border: none;
    transition: color 0s;
    height: 46px;
}

.plae-chef-window ul.nav.nav-tabs > li > a > tab-heading{
    vertical-align: middle !important;
}

.plae-chef-window ul.nav.nav-tabs > li > a i {
    vertical-align: 0;
}

.plae-chef-window ul.nav.nav-tabs > li > a i.fa-cart-plus {
    vertical-align: middle;
}

.plae-chef-window ul.nav.nav-tabs > li > a:hover, .plae-chef-window ul.nav.nav-tabs > li > a:focus, .plae-chef-window ul.nav.nav-tabs > li > a:active {
    color: #ffff07;
    border:none;
}

.plae-chef-window ul.nav .heading {
    height: 20px;
    width: 39px;
    background-image: url(/media/icons/tablab.png);
    background-position: 0 0;
}

.plae-chef-window ul.nav .heading.shoes:hover {
    background-position-x: -39px;
}

.plae-chef-window ul.nav .heading.tabs {
    background-position-x: 78px;
}

.plae-chef-window ul.nav .heading.tabs:hover {
    background-position-x: 39px;
}

.plae-chef-window ul.nav .border-left {
    border-left: 1px solid #fff;
    padding-left: 30px;
    margin: 8px 0 8px 30px;
    height: 30px;
}

.plae-chef-window ul.nav .border-left > a {
    margin-top: -8px;
}

@media screen and (min-width: 768px) {

    /*  Header section   */
    /*                   */

    .tab-lab-header.mobile{
        display: none;
    }
    .tab-lab-header.desktop{
        display: inherit;
        font-size: 100%;
        margin-left: 35%;
    }

    /*  Selector section    */
    /*                      */
    .arrows-button-column {
        display: none;
    }

    .slick-button{
        width: 30%;
    }
    .slick-button.shoe{
        width: 40%;
    }
    .slick-button.previous.left{
        border-top-left-radius: 6px !important;
    }
    .slick-button.previous.right{
        border-top-right-radius: 6px !important;
    }

    .slick-button.next.left{
        border-bottom-left-radius: 6px !important;
    }
    .slick-button.next.right{
        border-bottom-right-radius: 6px !important;
    }

    .slick-button.up {
        color: rgba(255, 255, 255, 0.87);
        background-color: rgb(155, 155, 155);
    }
    .slick-list.draggable{
        padding: 0 0 !important;
        border: 0 solid #D3D3D3;
        border-radius: 0;
    }

    img.slide.img.tab{
        width: 90%;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .arrows-button-row.next{
        margin-top: -5px;
    }
    .select-me {
        display: block;
        width: 22px;
        height: 22px;
        margin: 5px;
        background-position: center;
     /*   top: 10px; */
        position: relative;
        float: left;
        padding: 0;
    }
    .select-me.tab {
        top: 30px;
        background-size: 250%;
    }
    button.md-raised.selector.tab.selector-focus {
        background-size: 105% !important;
        transition:  .5s ease-in-out;
        -moz-transition:  .5s ease-in-out;
        -webkit-transition:  .5s ease-in-out;
    }

    .selector-not-focus {
        opacity: .6;
        transition:  .5s ease-in-out;
        -moz-transition:  .5s ease-in-out;
        -webkit-transition:  .5s ease-in-out;

    }
    .white-bg.select-slide-out {
        position: absolute;
        left: 2%;
        margin-top: 20px;
        height: 220px;
        width: 54%;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 10px;
        margin-bottom: 10px;
        background: #ffffff;
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.0);
        border: 2px solid #D3D3D3;
    }
    .picker {
        list-style: none;
        position: absolute;
        float: left;
        padding: 5px;
    }
    ul.picker.top {
        list-style: none;
    }
    .picker.bottom {
        bottom: 10%;
        list-style: none;
    }
    .md-raised.selector {
        position: absolute;
        top: 90px;
        width: 60px;
        height: 30px;
        background-size: 80px 40px;
        background-repeat: no-repeat;
    }
    .md-raised.selector.tab {
        background-size: 100%;
        top: 95px;
        width: 55px;
        height: 50px;
    }
    .md-raised.selector.shoe{
        background-size: 100%;
        width: 120px;
        height: 60px;
        left: 16%;
        transition:  .5s ease-in-out;
        -moz-transition:  .5s ease-in-out;
        -webkit-transition:  .5s ease-in-out;
    }
    .md-raised.selector.tab.tabright, .selector.tab.tabright:hover {
        background-position: center;
        background-color: white;
        left: 43.1%;
    }
    .md-raised.selector.tab.tableft, .selector.tab.tableft:hover {
        background-position: center;
        background-color: white;
        left: 3%;
        float: left;
    }

    /*  Canvas section  */
    /*                  */

    .canvas-button-row {
        top: 84%;
    }

    .fa.fa-random.fa-2x{
        font-size: 1.6em;
    }
    .cart-button.addtocart {
        width: 200px;
    }
    .plae.size {
        top: 250px;
    }
    /*.plae.basket {
        top: 440px;
    }*/
    button#survey-button {
        top: 850px;
        left: 40%;
    }
    .survey {
        top: 150px;
    }
}
@media screen and (min-width: 500px){
    .md-raised.selector.tab {
        top: 105px;
        width: 65px;
        height: 50px;
    }
    .md-raised.selector.tab.tabright, .selector.tab.tabright:hover {
        left: 42%;
    }
    .md-raised.selector.shoe {
        top: 100px;
        width: 120px;
        height: 60px;
        left: 17%;
    }
    .select-me {
        width: 25px;
        height: 25px;
        margin: 5px;
        padding: 0;
    }
}
@media screen and (min-width: 568px){

    .canvas-button-row {
        top: 75%;
    }
}
@media screen and (min-width: 568px) and (min-height: 360px){
    .white-bg.select-slide-out {
        height: 260px;
    }
    .md-raised.selector.tab {
        top: 130px;
        width: 74px;
        height: 37px;
    }
    .md-raised.selector.tab.tabright, .selector.tab.tabright:hover {
        left: 42%;
    }
    .md-raised.selector.shoe {
        top: 110px;
        width: 140px;
        height: 70px;
        left: 17%;
    }
    .select-me {
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 0;
    }
    .plae.size {
        top: 290px;
    }
    /*.plae.basket {
        top: 480px;
    }*/
    button#survey-button {
        top: 890px;
    }

}
@media screen and (min-width: 600px){
    .md-raised.selector.tab {
        top: 120px;
        width: 90px;
        height: 45px;
    }
    .md-raised.selector.shoe {
        top: 100px;
        width: 150px;
        height: 75px;
        left: 17.8%;
    }
}
@media screen and (min-width: 660px){
    .md-raised.selector.tab {
        background-size: 90%;
        top: 120px;
        width: 95px;
        height: 50px;
    }
    .md-raised.selector.tab.tabright, .selector.tab.tabright:hover {
        left: 41%;
    }
    .md-raised.selector.shoe {
        background-size: 100%;
        width: 150px;
        height: 75px;
        left: 17.8%;
    }
    .select-me {
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 0;
    }
    .plae.size {
        width: 44%;
        height: 450px;
    }

    button#survey-button {
        top: 700px;
        left: 67%;
    }

}
@media screen and (min-width: 701px) {
    .md-raised.selector.tab {
        background-size: 90%;
        top: 110px;
        width: 100px;
        height: 50px;
    }
    .md-raised.selector.shoe {
        background-size: 100%;
        width: 160px;
        height: 80px;
        left: 18%;
        top: 95px;
    }

}
@media screen and (min-width: 751px) {
    .md-raised.selector.tab {
        background-size: 90%;
        top: 110px;
        width: 110px;
        height: 55px;
    }
    .md-raised.selector.shoe {
        background-size: 100%;
        width: 160px;
        height: 80px;
        left: 19%;
        top: 95px;
    }


}
@media screen and (min-width: 768px) {


    /*  Header section   */
    /*                   */
    body.ng-scope {
        margin: 0;
    }

    .shop-menu {
        height: 80px;
        width: 140px;
    }
    .version {
        color: white;
        font-size: 50%;
    }

    .tab-lab-header {
        font-size: 180% !important;
        width: 370px;
    }
    .md-raised.selector.tab {
        background-size: 90%;
        top: 160px;
        width: 110px;
        height: 55px;
    }
    .md-raised.selector.shoe {
        background-size: 100%;
        width: 160px;
        height: 80px;
        left: 19%;
        top: 150px;
    }


    /*  Slider section   */
    /*                   */


    .white-bg.select-slide-out {
        width: 55%;
        height: 400px;
    }

    .select-me {
        width: 40px;
        height: 40px;
    }

    img.slide.img.tab {
        margin-left: 0;
        margin-top: 25px;
    }

    img.slide.img {
        margin-top:25px;
    }


    /*  Canvas section   */
    /*                   */

    .canvas-button-row {
        top: 90%;
    }

    /*  Size section     */
    /*                   */
    .plae.size {
        top: 450px;
    }

    /*  Add-to-cart section */
    /*                      */
    /*#plae-basket {
        top: 450px;
    }*/
    .cart-button {
    }
    #right {
        position: relative;
        float: left;
        margin: 0 5px 0 0;
        /*    border: 1px solid black; */
        width: 100%;
        height: 1000px;
        overflow: hidden;
        z-index: 200;
        opacity: 1;
        background: #ffffff;
    }

    .box_rotate {
        -webkit-transform: rotate(30deg); /* Chrome, Safari 3.1+ */
        -moz-transform: rotate(30deg); /* Firefox 3.5-15 */
        -ms-transform: rotate(30deg); /* IE 9 */
        -o-transform: rotate(30deg); /* Opera 10.50-12.00 */
        transform: rotate(30deg); /* Firefox 16+, IE 10+, Opera 12.50+ */
    }

    .box_transition {
        -webkit-transition: all 0.3s ease-out; /* Chrome 1-25, Safari 3.2+ */
        -moz-transition: all 0.3s ease-out; /* Firefox 4-15 */
        -o-transition: all 0.3s ease-out; /* Opera 10.50–12.00 */
        transition: all 0.3s ease-out; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
    }

    button#left-profile-button {
        position: absolute;
        top: 940px;
        left: 680px;
    }

    button#top-button {
        position: absolute;
        top: 940px;
        left: 720px;
    }

    button#right-profile-button {
        position: absolute;
        top: 940px;
        left: 760px;
    }

    .view-button {
        z-index: 79;
        font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif !important;
        font-size: 14px !important;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        line-height: 20px;
    }






    .rotate {
        font-size: 3em;

        /* Safari */
        -webkit-transform: rotate(90deg);

        /* Firefox */
        -moz-transform: rotate(90deg);

        /* IE */
        -ms-transform: rotate(90deg);

        /* Opera */
        -o-transform: rotate(90deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }

    .nosize {
        position: absolute;
        color: white;
    }

    .nosize.one {
        top: 125px;
        left: 90px;
    }

    .nosize.two {
        top: 285px;
        left: 90px;
    }

    .bg-opacity {
        /* Fallback for web browsers that doesn't support RGBa */
        background: rgb(0, 0, 0);
        /* RGBa with 0.6 opacity */
        background: rgba(255, 255, 255, 0.0) !important;
        /* For IE 5.5 - 7*/
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        /* For IE 8*/
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }

    .size-circle {
        display: block;
        height: 80px;
        width: 80px;
        margin-bottom: 40px !important;
        /*line-height: 80px !important; */
        -moz-border-radius: 40px !important;
        border-radius: 40px !important;
        background-color: rgb(118, 118, 118) !important;
        color: rgb(255, 255, 255) !important;
        text-align: center !important;
        font-size: 2em !important;
        margin-left: 60px !important;
        text-transform: uppercase !important;
    }

    .display-size {
        text-align: center;
        padding-top: 50px;
    }

    .tab-select-size {
        height: 30px;
        line-height: 0 !important;
        width: 120px;
        left: 0;
        border-radius: 4px !important;
    }

    #right-tab-select-size-button {
        top: 50px;
    }
}
@media screen and (min-width: 840px) {
    .md-raised.selector.shoe {
        width: 180px;
        height: 90px;
        left: 18.5%;
    }
    .md-raised.selector.tab {
        width: 120px;
        height: 60px;
    }
    .select-me.tab {
        top: 30px;
        background-size: 250%;
    }
}
@media screen and (min-width: 1024px) {

    .desktop-section{
        position: absolute;
        top: 50px;
        left: 30px;
    }
    .car.desktop {
        margin-top: 30px;
        width: 150px;
        height: 500px !important;
    }
    .selector {
        width: 156px;
        height: 120px;
        background-size: 160px 80px;
        background-repeat: no-repeat;
    }
    .selector.tab{
        background-size: 90%;
    }
    .selector.shoe{
        background-size: 110%;
    }
    button.md-raised.selector.shoe {
        width: 190px;
        height: 150px;
        left: 6%;
        top: 160px;
    }
    button.md-raised.selector.tab {
        width: 125px;
        height: 125px;
        left: 0;
        top: 160px;
    }
    .md-raised.selector.tab.tableft, .selector.tab.tableft:hover {
        left: 4%;
    }

    .selector.tab.tabright, .selector.tab.tabright:hover {
        background-position: center;
        background-color: white;
    }
    .selector.tab.tableft, .selector.tab.tableft:hover {
        background-position: center;
        background-color: white;
    }

    .md-button.md-raised:not([disabled]){
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }

    img.slide.img.tab {
    }
    .selector.shoe{
        background-position: center;
    }
    .md-raised.selector {
        position: relative;
        left: 9px;
        top: 160px;
        margin-left: 1px;
    }
    .md-raised.selector.tab.tabright {
        left: 35px;
    }
    button.md-raised.selector.shoe.md-button.ng-scope.md-default-theme.ng-valid{
        background-color: white;
    }
    .selector.shoe.md-button:hover{
        background-color: white;
    }
    .selector.shoe.md-button.ng-scope.md-default-theme.ng-valid.ng-touched.ng-click-active{
        background-color: white;
    }

    .white-bg.select-slide-out{
        margin-top: 0;
        width: 111%;
        height: 480px;
    }

    button.md-raised.selector{
        /* Safari 3-4, iOS 1-3.2, Android 1.6- */
        -webkit-border-radius:  1px;
        /* Firefox 1-3.6 */
        -moz-border-radius: 1px;

        /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
        border-radius: 1px;
        border: 2px;
    }

    .picker {
        left: 0;
        width: 100%;
        height: 40%;
        list-style-type: none;
        position: absolute;
    }
    .picker.top{
        top: 0;
    }
    .picker.bottom{
        top: 280px;
        overflow: scroll;
    }
    .select-me{
        display: block;
        width: 50px;
        height: 50px;
        margin: 12px;
        background-position: center;
        top: 5px;
        position: relative;
        float: left;
        padding: 0;
    }
    .select-me.tab{
        width: 50px;
        height: 50px;

    }

    .plae.basket.item {
        left: 18px;
    }
    .plae.basket.item.shoe {
        position: absolute;
        top: 40px;

    }
    .plae.basket.item {
        border: none;
        height: 0px !important;
    }
    .plae.basket.subtotal {
        left: 20px;
        top: 382px;
        height: 0;
    }
    button.md-raised.attr.subtotal {
        margin-top: -2px;
        margin-left: -2px;
        width: 110%;
    }
    .plae.size {
        height: 480px;
        top: 550px;
        padding-top: 20px;
        width: 30%;
    }
    .plae.basket h3 {
        float: left;
        font-size: large;
    }

    .checkbox.label {
        font-size: 18px;
        margin-left: 18px;
        color: #000000;
    }
    .size.selector {
        width: 95%;
        height: 36px;
    }
    #scroll-to-button {
        position: relative;
        top: -965px;
    }
    button#survey-button {
        top: 965px;
        left: 52%
    }
    #survey-button {
        position: relative !important;
        top: -25px;
        left: 540px;
        float: left;
        width: 300px;
        height: 50px;
    }
    .button.plae-label {
        font-size: 140%;
    }
    button.md-raised.fa.fa-chevron-circle-up {
        display: initial;
    }
    .fa.fa-chevron-circle-up {
        position: relative;
        bottom: 30px;
    }
    .fa.fa-chevron-circle-up.right {
        left: 630px;
        top: 960px;
        border-radius: 50%;
        background-color: white;
    }
    form.surveyForm {
        padding-left: 0;
        top: 0;
        height: 100%;
        width: 80%;
    }
    #submit-survey {
        top: 10px;
        left: 35%;
        font-size: 130% !important;
    }
}
@media screen and (min-width: 1100px) {
    .cart-button {
    }
    .white-bg.select-slide-out {
        width: 110%;
    }
    .md-raised.selector.tab.tabright {
        left: 10%;
    }
    button.md-raised.selector.shoe {
        width: 230px;
        height: 160px;
        left: 7%;
        top: 160px;
    }
}
@media screen and (min-width: 1200px) {

    .slick-left:before, .slick-right:before, .slick-shoe:before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }
    .white-bg.select-slide-out {
        width: 108%;
        height: 600px;
    }
    .plae.size {
        height: 480px;
        top: 660px;
    }
    /*#plae-basket {
        top: 660px;
    }*/
    button#survey-button {
        top: 1080px;
    }
    .picker{
        left: 0;
        width: 100%;
        height: 40%;
    }
    .picker.bottom {
        top: 380px;
    }
    .select-me {
        left: 0;
    }
    .canvas-button-row {
        top: 92%;

    }

    button.md-raised.selector.shoe {
        width: 260px;
        height: 180px;
        left: 7%;
        top: 0;
        margin-top: 39%;
    }
    button.md-raised.selector.tab{
        width: 140px;
        height: 100px;
        top: 0;
        margin-top: 40%;
    }
    .md-raised.selector.tab.tabright {
        left: 9%;
    }
}
@media (max-width: 1000px) {
    h4.product.name {
        font-size: 1em;
    }
}

@media (max-width: 991px) {

    .plae.basket.subtotal {
        position: static;
    }

    .plae.basket.subtotal h3 {
        bottom: 15px;
        position:absolute;
    }

    .price.subtotal {
        bottom: 30px;
        margin-left: 105px;
    }

    .plae.basket.item {
        height: 0px;
    }

    button.attr {
        width: 105%;
    }
}
@media (max-width: 768px) {

    button.attr {
        left: 2%
    }

    .canvas-button-row {
        position:static;
        top: inherit;
        width: 80%;
        margin: 0 auto;
    }

    .cart-button-row .cart-button.addtocart {
        margin: 0 auto;
    }

    .md-button.md-default-theme.md-raised.cart-button.addtocart {
        margin-right: 9.75%;
    }

    .arrows-button-column {
        height: 240px;
    }

    ul.nav {
        text-align: center;
    }

    ul.nav>li {
        display: inline-block;
        float:none;
        vertical-align: middle;
    }

    ul.nav>li.main-tab {
        display: none;
    }

    .plae-chef-window ul.nav .heading {
        height: 15px;
        width: 30px;
        background-size: 400%;
        margin-top: 3px;
    }

    .plae-chef-window ul.nav .heading.tabs {
        background-position-x: 60px;
    }
    .plae-chef-window ul.nav .heading.tabs:hover {
        background-position-x: 30px;
    }
    .plae-chef-window ul.nav .heading.shoes:hover {
        background-position-x: -30px;
    }
    ul.nav>li>a {
        padding: 10px 10px;
    }

    #plae-basket {
        top: 10px;
        bottom: 10px;
        overflow: auto;
        height: 500px;
    }
    .plae.basket.subtotal h3 {
        bottom: 45px;
    }

    .price.subtotal {
        bottom: 60px;
    }

    .cart-button-row {
        margin-bottom: 30px;
    }


}
@media (max-width: 480px) {
    #plae-basket {
        margin-bottom: 80px;
        height: 400px;
    }

    .plae.basket.subtotal {
        text-align: center;
        position: absolute;
        bottom: 0;
        top: auto;
        width: 95%;
    }

    .plae.basket.subtotal h3 {
        position: static;
        margin: 0;
        float: none;
        display: inline-block;
    }

    .price.subtotal {
        margin:0;
        position: static;
    }

    .cart-button-row {
        position:relative;
        margin-top: 435px;
        height: auto;
        bottom: 0;
    }

    .md-button.md-default-theme.md-raised.cart-button.addtocart {
        margin: 0 auto;
        width: 150px;
    }


    .arrows-button-column {
        height:180px;
    }

    .plae-chef-window ul.nav {
        padding: 0;
    }


    .plae-chef-window ul.nav>li>a {
        padding: 10px 4px;
    }

    .plae-chef-window ul.nav .border-left > a {
        margin-top: -6px;
    }

    h2.visible-xs-block {
        margin-top: 40px;
    }
}


